.b-m-mpanel {
	font-size:100%;
	background: #F0F0F0 url(images/menu_bg.gif) left repeat-y;
	border: 1px solid #718BB7;
	padding: 2px 0;
	position: absolute;
	z-index: 99997;
	left: 0px;
	top: 0px;
	color: #333;
}

.b-m-split {
	height: 6px;
	background: url(images/m_splitLine.gif) center repeat-x;
	font-size: 0px;
	margin: 0 2px;
}

.b-m-item,.b-m-idisable {
	padding: 4px 2px;
	margin: 0 2px 0 3px;
	cursor: normal;
	line-height: 100%;
}

.b-m-idisable {
	color: #808080;
}

.b-m-ibody,.b-m-arrow {
	overflow: hidden;
	text-overflow: ellipsis;
}

.b-m-ibody span {
}

.b-m-arrow {
	background: url(images/m_arrow.gif) right no-repeat;
}

.b-m-idisable .b-m-arrow {
	background: none;
}

.b-m-item img,.b-m-ifocus img,.b-m-idisable img {
	margin-right: 8px;
}

.b-m-ifocus {
	background: url(images/m_item.gif) repeat-x bottom;
	border: 1px solid #AACCF6;
	padding: 3px 1px;
	margin: 0 2px 0 3px;
	cursor: normal;
	color: blue;
	line-height: 100%;
}

.b-m-idisable img {
	visibility: hidden;
}