<?xml version="1.0" encoding="UTF-8"?>
<beans xmlns="http://www.springframework.org/schema/beans" xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
	xsi:schemaLocation="http://www.springframework.org/schema/beans http://www.springframework.org/schema/beans/spring-beans-2.5.xsd"
	default-lazy-init="true">

	<description>Email配置</description>

	<!-- 邮件发送器 -->
	<bean id="mailSender" class="org.springframework.mail.javamail.JavaMailSenderImpl">
		<property name="host" value="smtp.idccenter.net" />
		<property name="username" value="demo@jeefuse.com" />
		<property name="password" value="passwd" />
		<property name="javaMailProperties">
			<props>
				<prop key="mail.smtp.auth">true</prop>
				<prop key="mail.smtp.port">25</prop>
			</props>
		</property>
	</bean>

	<!-- 用于生成HTML邮件内容的Freemarker配置 -->
	<bean id="freemarkerConfiguration" class="org.springframework.ui.freemarker.FreeMarkerConfigurationFactoryBean">
		<property name="templateLoaderPath" value="classpath:/email" />
	</bean>

	<!-- MIME邮件服务类 -->
<!--	<bean id="mimeMailService" class="com.jeefuse.base.email.MimeMailService">-->
<!--		<property name="mailSender" ref="mailSender" />-->
<!--		<property name="configuration" ref="freemarkerConfiguration"></property>-->
<!--	</bean>-->
</beans>